<template>
  <footer>
    <div
      class="
        max-w-7xl
        mx-auto
        py-12
        px-4
        sm:px-6
        md:flex md:items-center md:justify-between
        lg:px-8
      "
    >
      <div class="flex justify-center space-x-6 md:order-2">
        <color-switcher class="text-gray-400 hover:text-gray-500" />
      </div>
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center text-base text-gray-400">
          &copy; {{ year }} NuxtJS Team. MIT License.
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
import colorSwitcher from '../special/color-switcher.vue'
export default {
  name: 'AppFooter',
  components: { colorSwitcher },
  computed: {
    year() {
      return new Date().getFullYear()
    },
  },
}
</script>
