<template>
  <div
    :class="dev ? 'debug-screens' : ''"
    class="bg-gray-white dark:bg-gray-900"
  >
    <app-navbar />
    <Nuxt />
    <app-footer />
  </div>
</template>

<script>
import AppFooter from '~/components/layout/app-footer.vue'
import AppNavbar from '~/components/layout/app-navbar.vue'
export default {
  name: 'LayoutDefault',
  components: { AppNavbar, AppFooter },
  data() {
    return {
      dev: process.env.NODE_ENV !== 'production',
    }
  },
}
</script>
