<template>
  <div>
    <app-content :document="page" />
  </div>
</template>

<script>
import appContent from '~/components/blocks/app-content.vue'
import dynamicMetadata from '~/plugins/metadata/metadata-dynamic'

export default {
  name: 'PageHome',
  components: { appContent },
  async asyncData({ $content }) {
    const page = await $content('welcome').fetch()

    return {
      page,
    }
  },
  data() {
    return {
      title: `nuxt/tailwind, a story of JIT`,
    }
  },
  head() {
    const title = this.title
    const url = `${this.$config.baseURL}/${this.$nuxt.$route.path}`
    const dynamicMeta = dynamicMetadata({
      title: this.title,
      description: this.description,
      url,
    })
    return {
      title,
      meta: [...dynamicMeta],
    }
  },
}
</script>
